body{
	background-color: brown;
}
img{
	width : 15%;
	margin: 0 auto;
	display: block;
	border-right: 5px;
	padding-top: 10px;
}

h1{
	font-size : 30px;
	font-family: Roboto+Slab ;
	color:black;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	letter-spacing: 1px;
	border-top: : 10px;
	padding-right: 5px;
	position: 60px;
}

h2{
	font-size: 25px;
	font-family: cursive;
	text-align: right; ;
	color:yellow;
	letter-spacing: 2px;
	padding-left: 10px;

}

h3{
	font-family: Spirax;
	color : white;
	font-size: 25px;
	border-left: 5px;
}

p {
	font-size: 10px;
	color:blue;
	font-size: 23px;
	text-align: left;
}

h4{
	color : pink;
}
